@charset 'utf-8';

/* reset */
html {line-height: 1.15; -webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
main {display: block;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table, blockquote {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit; text-decoration: inherit;}
a img {border: none;}
img {vertical-align: middle;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i.fas, i.far, i.fal, i.fad, i.fab {position: relative; display: inline-block; vertical-align: middle;}
i.fas span, i.far span, i.fal span, i.fad span, i.fab span {position: absolute; overflow: hidden; text-indent: -999px;}
.mobile {display: none !important;}
br.only-m {content: '';}
br.only-m:after {content: '\00a0';}
.ir-hidden {position: absolute; left: -9999px;}


/* common */
body {font-family: 'NotoSansKR', '맑은 고딕', 'malgun gothic', '돋움', Dotum, 'Apple SD Gothic Neo', Helvetica, sans-serif; font-weight: 400; font-size: 14px; color: #222222; background: #ffffff;}
#wrapper {}
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; text-align: center; line-height: 40px; font-size: 16px; background: rgba(0, 0, 0, 0.6); color: #ffffff; transition: top 0.3s; z-index: 10000;}
#skip-nav:focus {top: 0;}

#header {position: fixed; left: 0; top: 0; width: 100%; height: 100px; background: pink;}
#header::before {content: ''; position: absolute; left: 0; top: 100px; width: 100%; height: 0; background: yellow;}
#header h1 {position: absolute; left: 30px; top: 0;}
#gnb {position: absolute; left: 300px; top: 0; height: 100px; overflow: hidden; text-align: center; background: yellow;}
#gnb > ul > li {float: left; width: 140px;}
#gnb > ul > li + li {margin-left: 5px;}
#gnb > ul > li > a {position: relative; display: block; line-height: 100px; background: lime;}
#gnb > ul > li > a::after {content: ''; position: absolute; left: 50%; transform: translate(-50%, 0); bottom: 0; width: 0; height: 1px; background: #000000; transition: width 0.3s;}
#gnb > ul > li > a:hover::after {width: 100%;}
#gnb > ul > li > ul {margin-top: 30px;}
#gnb > ul > li > ul > li + li {margin-top: 5px;}
#gnb > ul > li > ul > li > a {display: block; line-height: 30px;}

#header.on {background: #ffffff;}
#header.on #gnb {height: 300px;}
#header.on::before {height: 200px;}

#top-lang {position: absolute; right: 150px; top: 50%; transform:  translate(0, -50%);}
#top-lang li {float: left;}
#top-lang li a {display: block; width: 80px; line-height: 50px; background: blue;}
#header a.sitemap {position: absolute; right: 30px; top: 50%; transform: translate(0, -50%); font-size: 20px; background: yellow; line-height: 1px;}








/*
animation: circle-effect 1.5s ease-out 0s infinite normal forwards;

@keyframes circle-effect {
    0% {opacity: 1; transform: translate(-50%, 0) scale(0.8);}
    100% {opacity: 0; transform: translate(-50%, 0) scale(1.4);}
}

animation 축약 표현
animation: main-bg-animation 3s ease-out 0.1s 1 normal forwards running;
animation: name duration timing-function delay iteration-count direction fill-mode play-state
duration: 0(default), time, initial, inherit
timing-function: ease(default), linear, ease-in, ease-out, ease-in-out, step-start, step-end, steps(int, start|end), cubic-bezier(n, n, n, n), initial, inherit
deley: 0s(default), time, initial, inherit
direction: normal(default), reverse, alternate, alternate-reverse, initial, inherit
iteration-count: 1(default), number, infinite, initial, inherit
fill-mode: none(default), forwards, backwards, both, initial, inherit
play-state: running(default), paused, initial, inherit  (IE에서는 축약표현에 포함시 동작하지 않음, 별도로 사용)

[최종 사용 예시]
animation: main-bg-animation 3s ease-out 0s 1 normal forwards;
animation-play-state: running;
*/

